* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    font-family: 'Poppins';
}

header {
    display: flex;
    background-color: #64dfdf;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    background-color: #6930c3;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #64dfdf;
    width: 20%;
    padding-right: 15px;
    font-style: bold;
}

header nav {
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5px;
}

header ul {
    display: flex;
}

header li {
    display: flex;
    list-style-type: none;
    padding: 5px;
    margin-right: 10px;
    justify-content: space-evenly;
}

a {
    box-shadow: inset 0 0 0 0 #7400b8;
    color: #7400b8;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;  
  }

  a:hover {
    box-shadow: inset 100px 0 0 0 #7400b8;
    color: white;
  }