* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

header {
    display: flex;
    background-color: dodgerblue;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dodgerblue;
    width: 30%;
}

header nav {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

header ul {
    display: flex;
}

header li {
    display: flex;
    list-style-type: none;
    color: darkblue;
    padding: 5px;
}

a  {
    text-decoration: none;
}